:root {
  --white-text: 255, 255, 255;
  --red-error: 217, 83, 79;
  --blue: 19, 175, 240;
  --grey-bg-34: 34, 34, 34;
  --grey-bg-51: 51, 51, 51;
  --grey-b-93: 93, 93, 93;
  --grey-bg-187: 187, 187, 187;
  --padding-carousel-channel: 0.5rem 1.15rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  font-family: 'open sans', 'helvetica neue', Helvetica, Arial, sans-serif;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* 
@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.pop-up-error-msg {
  animation: 1s linear 1s slidein;
}
*/
